<%- include ../partials/_header.ejs %>
        
        <main>            
            <div class="jumbotron small">
            <div class="jumbotron-header">
                <h2>Welcome, <%= user.schema.username.value %></h2>    
            </div>
                <div class="jumbotron-body">
                    <p>Follow the form below to upload a file to your account</p>
                    
                    <div class="center-content">
                        <a class="btn btn-primary btn-lg btn-success" href="/<%= user.schema.id.value %>/files/files">View my files</a>
                        <a class="btn btn-primary btn-lg btn-success" href="/<%= user.schema.id.value %>/files/">Upload a file</a>
                        <a class="btn btn-primary btn-lg btn-success" href="/users/logout">Logout</a>
                    </div>
                    
                </div>
            </div>
        </main>
        
<%- include ../partials/_footer.ejs %>