<%- include ../partials/_header.ejs %>
        
        <main>
           <ul id="all_files">
              <% if (files){ %>
                  <% if (Array.isArray(files)){ %> 
                      <% files.forEach(function(file){ %>
                           <li>File: 
                               <ul>
                                   <li>
                                       <a href="/files/file/<%= file.id %>">
                                           <%= file.name %>        
                                       </a>
                                   </li>
                               </ul>
                           </li>
                       <% }) %>
                  <% }else{ %>
                        <!-- This part shouldn't ever be used. -->
                      <li>File: 
                               <ul>
                                   <li><a href="/files/file/1"><%= files.name %></a></li>
                               </ul>
                      </li>
                  <% } %>
              <% }else{ %>
                  <p>No files uploaded by this user</p>
              <% } %>
               
           </ul> 
           
           <a href="/files/">
               <button class="btn btn-primary btn-lg">Upload a file</button>
           </a>
        </main>
        
 <%- include ../partials/_footer.ejs %>