<%- include ../partials/_header.ejs %>

        <main>
            <div class="jumbotron small">
                <div class="jumbotron-header">
                    <h2>File: <%= file_info.file_name %></h2>
                </div>
                <div class="jumbotron-body">
                    <ul>
                        <li class="name">Name: <%= file_info.file_name %></li>
                        <li class="name">Encrypted Extension: <%= file_info.file_ext %></li>
                        <li class="data">File size: Approx <%= Math.round(file_info.file_size) %>KB</li>
                    </ul>

                    <form action="/<%= user.schema.id.value %>/files/file/<%= file_info.file_id %>/download" method="POST">
                        <input type="hidden" name="file_name" value="<%= file_info.file_name %>">
                        <!-- <input type="hidden" name="file_data" value="<%= file_info.file_data %>"> -->
                        <input type="hidden" name="file_ext" value="<%= file_info.file_ext %>">
                        <input type="hidden" name="file_id" value="<%= file_info.file_id %>">
                        <button type="submit" class="btn btn-success btn-lg">Download Encrypted</button>
                    </form>

                    <form id="download_and_unencrypt_form">
                        <input type="hidden" name="file_name" value="<%= file_info.file_name %>">
                        <!-- <input type="hidden" name="file_data" value="<%= file_info.file_data %>"> -->
                        <input type="hidden" name="file_ext" value="<%= file_info.file_ext %>">
                        <input type="hidden" name="file_id" value="<%= file_info.file_id %>">
                        <button class="btn btn-success btn-lg" onclick="unencrypt(event, <%= user.schema.id.value %>)">Download and Decrypt</button>
                    </form>
                </div>
            </div>
        </main>

 <%- include ../partials/_footer.ejs %>
