<%- include ../partials/_header.ejs %>

        <script>
          const public_key = "<%= PUBLIC_KEY %>",
                private_key = "<%= PRIVATE_KEY %>";
        </script>
        <main>
           <div class="jumbotron small">
            <div class="jumbotron-header">
                <h2>Upload a file</h2>
            </div>
                <div class="jumbotron-body">
                    <p>Follow the form below to upload a file to your account</p>

                    <form ref='uploadForm'
                    id='uploadForm'>
                        <input type="file" name="uploadedFile" />
                        <button id="uploadButton" class="btn btn-primary btn-lg btn-success" onclick="keyReq(event, <%= user.schema.id.value %>)">Upload</button>
                    </form>
                </div>
            </div>
        </main>

 <%- include ../partials/_footer.ejs %>
